<?xml version="1.0" encoding="UTF-8"?>
<!--
 * Copyright 2019 Blockchain Technology Partners
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Check Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: checkstyle
    Description: none
-->
<module name="Checker">
  <property name="severity" value="error"/>
  <property name="fileExtensions" value="java, properties, xml"/>
  <module name="LineLength">
    <property name="max" value="120"/>
  </module>
  <module name="NewlineAtEndOfFile"/>
  <module name="OrderedProperties"/>

  <module name="TreeWalker">
    <!-- Javadoc checks -->
    <module name="MissingJavadocPackage"/>
    <module name="MissingJavadocType"/>
    <module name="MissingJavadocMethod">
      <property name="scope" value="public"/>
    </module>
    <module name="JavadocMethod">
      <property name="accessModifiers" value="public,protected,package"/>
    </module>
    <module name="JavadocStyle"/>
    <module name="JavadocType"/>
    <module name="JavadocVariable">
      <property name="scope" value="public"/>
    </module>
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="LocalVariableName"/>
    <module name="MemberName"/>
    <module name="MethodName"/>
    <module name="PackageName"/>
    <module name="ParameterName"/>
    <module name="StaticVariableName"/>
    <module name="TypeName"/>
    <!-- Annotation checks -->
    <module name="AnnotationLocation"/>
    <module name="MissingDeprecated"/>
    <module name="MissingOverride"/>
    <!-- Import checks -->
    <module name="AvoidStarImport"/>
    <module name="IllegalImport"/>
    <module name="ImportOrder">
      <property name="groups" value="/^java\./,javax,com,org"/>
      <property name="ordered" value="true"/>
      <property name="separated" value="true"/>
      <property name="option" value="above"/>
      <property name="sortStaticImportsAlphabetically" value="true"/>
    </module>
    <module name="RedundantImport"/>
    <module name="UnusedImports">
      <property name="processJavadoc" value="false"/>
    </module>
    <module name="MethodLength"/>
    <module name="ParameterNumber"/>
    <module name="EmptyForIteratorPad"/>
    <module name="GenericWhitespace"/>
    <module name="MethodParamPad"/>
    <module name="NoWhitespaceBefore"/>
    <module name="OperatorWrap"/>
    <module name="ParenPad"/>
    <module name="TypecastParenPad"/>
    <module name="WhitespaceAfter"/>
    <module name="WhitespaceAround"/>
    <module name="ModifierOrder"/>
    <module name="RedundantModifier"/>
    <module name="AvoidInlineConditionals"/>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="HiddenField"/>
    <module name="IllegalInstantiation"/>
    <module name="InnerAssignment"/>
    <module name="MagicNumber"/>
    <module name="MissingSwitchDefault"/>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="DesignForExtension"/>
    <module name="FinalClass"/>
    <module name="HideUtilityClassConstructor"/>
    <module name="InterfaceIsType"/>
    <module name="VisibilityModifier"/>
    <!-- Basic checks -->
    <module name="ArrayTypeStyle"/>
    <module name="FinalParameters"/>
    <module name="OuterTypeFilename"/>
    <module name="TrailingComment"/>
    <module name="TodoComment"/>
    <module name="UpperEll"/>
    <!-- Block checks -->
    <module name="AvoidNestedBlocks"/>
    <module name="EmptyBlock"/>
    <module name="EmptyCatchBlock"/>
    <module name="LeftCurly"/>
    <module name="NeedBraces"/>
    <module name="RightCurly"/>
  </module>
  <module name="JavadocPackage"/>
  <module name="Translation"/>
  <module name="FileLength"/>
  <module name="FileTabCharacter"/>
  <module name="RegexpSingleline">
    <property name="format" value="^(?!\s+\* $).*?\s+$"/>
    <property name="message" value="Line has trailing spaces."/>
  </module>
</module>
